body {
    overflow-x: hidden;
}

#selector1 {
    display: flex;
}

.dropdown-toggle {
    font-size: 20px;
    padding: 8px 50px;
}

.card {
    margin-top: 20px;
    margin-left: 20px;
    width: 25%;
    border-radius: 35px;
}

.card-title {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}

.card-text {
    text-align: center;
    font-size: 4em;
}

.dropdown {
    margin-left: 10px;
    margin-top: 10px;
    
}