{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block active_home %}aria-current="page"{% endblock %}
{% block active_home2 %}active{% endblock %}


{% block main %}
<form id="selector1">
    <div class="dropdown" action="/" method="POST">
        <a class="btn btn-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Grade
        </a>
        <ul class="dropdown-menu" id="grade-selector">
            <li><a class="dropdown-item" onclick="setDropdownValue('grade', '{{ grade }}')">{{ grade }}</a></li>
        </ul>
    </div>

    <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Term
        </a>
        <ul class="dropdown-menu" id="term-selector">
            <li><a class="dropdown-item" onclick="setDropdownValue('term', '{{ term }}')"> {{ term }}</a></li>
        </ul>
    </div>
    <input type="hidden" name="grade" id="grade-input">
    <input type="hidden" name="term" id="term-input">
</form>

<div style="margin-top: 20px;"></div>


<!-- Cards for grade information -->
<!-- TODO: Add the templates from the backend -->
<div class="card">
    <div class="card-body">
      <h3 class="card-title">Total Subjects</h3>
      <p class="card-text">{{ subject_count }}</p>
    </div>
  </div>
{% endblock %}

